__pycache__
build
database.db
netpass.3dsx
netpass.elf
netpass.smdh
netpass.3dsx.txt
netpass.cia
netpass.cia.txt
config.yaml
romfs/gfx
romfs/music
codegen/
out/
patches/*/code.bin
patches/*/build
patches/*/out
.idea/
