__pycache__
.idea/
.vscode/
build
CmakeLists.txt
codegen/
config.yaml
database.db
netpass.3dsx
netpass.3dsx.txt
netpass.cia
netpass.cia.txt
netpass.elf
netpass.smdh
out/
patches/*/build
patches/*/code.bin
patches/*/out
romfs/gfx
romfs/music
